@{
    ViewBag.Title = "JVWeb Mobile";
}



<div class="jumbotron">
    <h1>Testing site for my mobile page.</h1>
    <p class="lead">Looking to see how this new page can work as a personal hub for my info including quantified self data and resume.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


