
@{
    ViewBag.Title = "Resume";
}

<!-- header -->
<link href="~/Content/Resume.css" media="screen, projection" rel="stylesheet" type="text/css">
<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <div class="avatar">
                    <img src="" class="img-responsive" alt="Profile Picture" />
                </div>
            </div>
            <div class="col-md-6 right">
                <h1 class="hide">Jon Vinson</h1>
                <h2 class="heading">Hi, I'm Jon.</h2>
                <p>A computer guy who enjoys coding, public speaking, cycling, and college football.  Want to know more?</p>
                <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a><a href="" class="btn btn-primary btn-lg">DOWNLOAD vCARD</a>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- resume -->
<section class="section resume" id="resume">
    <div class="container">
        <h2 class="heading">RESUME</h2>
        <ul class="timeline">
            <li class="year">2014</li>
            <li class="event">
                <h3 class="heading">Operations Analyst at Southwest Power Pool</h3>
                <span class="month"><i class="icon icon-calendar"></i>April 2012 - present</span>
                <p>Senior Operations Analyst &amp; Programmer.  MVVM development for Real-Time Operations Reporting. 
                Model building and support for 9 state footprint of member assets. Geo-spatial model updates for member assets.
                C#, XAML, JavaScript developement with Oracel and SQL Server databases.</p>
            </li>
            <li class="year">2012</li>
            <li class="event">
                <h3 class="heading">IT Specialist at Southwest Power Pool</h3>
                <span class="month"><i class="icon icon-calendar"></i>June 2007 - April 2012</span>
                <p>IT Specialist/Programmer with a focus on web development and systems support. 
                Applications programmer for real-time production applications for tariff and scheduling departments.  
                Web development for public facing sites.  c# and JavaScript development with SQL Server and Oracle databases.</p>
            </li>
            <li class="year">2007</li>
            <li class="event">
                <h3 class="heading">University of Arkansas Medical Sciences</h3>
                <span class="month"><i class="icon icon-calendar"></i>March 2003 - June 2006</span>
                <p>Senior Support Specialist for Clinical Systems. Technical project lead for cardiology, ob-gyn and nursing acuity systems. 
                    Production application support rotating 24X7 on-call support for critical patient systems</p>
                <p>Applications Programmer.  VB.net development for client and web applications involving financial reporting and patient tracking.</p>
            </li>
            <li class="year">2003</li>
            <li class="event">
                <h3 class="heading">Sales Engineer at Compuware</h3>
                <span class="month"><i class="icon icon-calendar"></i>August 1999 - April 2003</span>
                <p>Sales Engineer for Enterprise Software Development and Testing Tools.  4th in revenue and 3rd in closed sales transactions for fiscal year 2000.  
                Supported Java, C/C++, VB, ASP, Oracle and SQL Server development tools.</p>
            </li>
            <li class="year">1999</li>
        </ul>

    </div>
</section>
<!-- end resume -->