
@{
    ViewBag.Title = "Resume";
}

<!-- header -->
<link href="~/Content/Resume.css" media="screen, projection" rel="stylesheet" type="text/css">
<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <div class="avatar">
                    <img src="" class="img-responsive" alt="Profile Picture" />
                </div>
            </div>
            <div class="col-md-6 right">
                <h1 class="hide">Jon Vinson</h1>
                <h2 class="heading">Hi, I'm Jon.</h2>
                <p>A computer guy who enjoys coding, public speaking, cycling, and college football.  Want to know more?</p>
                <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a><a href="" class="btn btn-primary btn-lg">DOWNLOAD vCARD</a>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- resume -->
<section class="section resume" id="resume">
    <div class="container">
        <h2 class="heading">RESUME</h2>
        <ul class="timeline">
            <li class="year">2014</li>
            <li class="event">
                <h3 class="heading">Southwest Power Pool - Operations</h3>
                <span class="month"><i class="icon icon-calendar"></i>April 2012 - present</span>
                <p>Senior Operations Analyst &Aacute; Programmer.  MVVM development for Real-Time Operations Reporting.</p>
            </li>
            <li class="year">2012</li>
            <li class="event">
                <h3 class="heading">Southwest Power Pool - Info Technology</h3>
                <span class="month"><i class="icon icon-calendar"></i>June 2007 - April 2012</span>
                <p>IT Specialist/Programmer with a focus on web development and systems support.</p>
            </li>
            <li class="year">2007</li>
            @*<li class="event">
                <h3 class="heading">University of Arkansas Medical Sciences</h3>
                <span class="month"><i class="icon icon-calendar"></i>March 2003 - June 2006</span>
                <p>Clinical Systems support and Application Development.</p>
            </li>*@
            <li class="year">2003</li>
            @*<li class="event">
                <h3 class="heading">Compuware</h3>
                <span class="month"><i class="icon icon-calendar"></i>August 1999 - April 2003</span>
                <p> Sales Engineer for Enterprise Software Development and Testing Tools.  In Top 5 in the nation for sales revenue.</p>
            </li>*@
            <li class="year">1999</li>
            @*<li class="event">
                <h3 class="heading">University of Alabama</h3>
                <span class="month"><i class="icon icon-calendar"></i>September 1994 - 1999</span>
                <p> Bachelor of Science in Management Information Systems with a minor in Computer Science.</p>
            </li>*@
        </ul>

    </div>
</section>
<!-- end resume -->